@*@using MyEvernote.BusinessLAyer*@
@using MyEvernote.Entities
@using MyEvernote.Web.Models

@{
    //CategoryManager cm = new CategoryManager();
    //List<Category> list = cm.List();

    List<Category> list = CacheHelper.GetCategoriesFromCache();
}


<p class="lead">Kategoriler</p>

<div class="list-group">
    <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Tümü</a>
    @foreach (var item in list)
    {
        <a href="/Home/ByCategory/@item.Id" title="@item.Description" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> @item.Title </a>
    }
</div>
