@{
    ViewBag.Title = "Yetkisiz Erişim";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>
            <span class="glyphicon glyphicon-remove-circle"></span>  Erişim Hatası
        </h1>
        <p>
            Bu Sayfaya erişim yetkiniz bulunmamaktadır.Lütfen login olun!
            <br /><br />
            @Boostrap.LinkButton("/Home/Login","primary","","","home","Login Sayfasına Git!")
        </p>
    </div>
</div>